.htr-titlebar-view {
  width: 100%;
  height: $titlebar-height;
}

.htr-titlebar-top {
  height: 1.5 * $spacer;
  background-color: $blue-darker;
}

.htr-titlebar-bottom {
  background-color: $blue-dark;
  height: $titlebar-height - 1.5 * $spacer;
  color: $gray-light;
  font-family: $font;
  @include text-xxlarge();
  font-weight: 100;
  display: flex;
  align-items: center;
}
