.htr-input-wrapper {
  width: 100%;
  height: $input-height;
  margin: $spacer 0;
  display: flex;
  align-items: center;
}

.htr-textarea-wrapper {
  width: 100%;
  height: $textarea-height;
  margin: $spacer 0;
  display: flex;
}

.htr-label-box {
  min-width: 100px;
  padding: $spacer 0;
}

.htr-label {
  color: $blue-light;
  font-family: $font;
  @include text-xsmall();
  font-weight: 300;
}

.htr-input {
  height: 100%;
  width: 100%;
  border: 1px solid $gray;
  border-radius: 2px;
  font-family: $font;
  color: $gray-dark;
  @include text-xsmall();
  font-weight: 300;
  padding: $spacer;
  outline: none;
  &::placeholder {
    color:$gray;
  }
}

.htr-input-box {
  width: 350px;
  margin: 0 auto;
  height: 100%;
}
