$media-breakpoint-xs: 599px;
$media-breakpoint-sm-up: 600px;
$media-breakpoint-md-up: 900px;
$media-breakpoint-lg-up: 1200px;
$media-breakpoint-xl-up: 1800px;

$font: 'Roboto';

// dimensions
$spacer: 10px;
$container-width: 80%;
$menu-icon-size: 24px;
$titlebar-height: 75px;
$titlebar-padding-side: 3 * $spacer;
$titlebar-padding-top: 2 * $spacer;

// colors
$white: #fff;
$black: #000;

$gray-darker: #333;
$gray-dark: #555555;
$gray: #dddddd;
$gray-light: #f7f7f7;

$blue-darker: #203c67;
$blue-dark: #375a8e;
$blue: #53719e;
$blue-light: #8da3e9;

$orange: #fd8e31;
$green-light: #f0fcf3;
$green: #79c17c;
$pink: #fdb2b3;

$text-color: $gray-darker;
$subtext-color: $gray-dark;
$disable-text-color: $gray;
$danger-color: $pink;
$success-color: $green;
$disable-color: $gray-light;

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// forms variables
$input-height: 42px;
$error-height: 22px;
$input-bar-height: 2px;
