@import "variables";
@import "typography";

@import "../../modules/Titlebar/Titlebar";
@import "../../base/common/components/Section/Section";
@import "../../modules/AboutComponent/AboutComponent";
@import "../../base/common/components/Form.scss";
@import "../../base/common/components/Textarea/Textarea";

html {
  box-sizing: border-box;
  font-family: $font, sans-serif;
  color: $text-color;
}

body {
  background-color: $gray-light;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: $container-width;
  padding: 0 4 * $spacer;
  margin: 0 auto;
}
